extends layout

block content
  h2 Language Categories

  h3 All Languages
  if languages && languages.length
    ul
      each lang in languages
        li= lang.Language_Name
  else
    p No languages found.

  h3 Most Popular Languages
  table
    thead
      tr
        th Language
        th Number of Users
    tbody
      if popular && popular.length
        each item in popular
          tr
            td= item.Language_Name
            td= item.totalUsers
      else
        tr
          td(colspan="2") No popular language data found

  h3 Full Distribution
  table
    thead
      tr
        th Language
        th Number of Users
    tbody
      if distribution && distribution.length
        each item in distribution
          tr
            td= item.Language_Name
            td= item.totalUsers
      else
        tr
          td(colspan="2") No distribution data found