extends layout

block vars
  - var authPage = false
  - var activePage = 'profile'

block content
  if user
    .profile-header
      .profile-avatar-lg= user.name ? user.name[0].toUpperCase() : '?'
      .profile-info
        h2= user.name
        p @#{user.username}
        if user.country
          p= user.country
        if user.programme
          span.role-badge(class=user.programme.toLowerCase())= user.programme

    if reported
      .alert.alert-success Your report has been submitted successfully.

    if currentUser && currentUser.id != user.id
      .s-actions(style='margin-bottom:1rem;display:flex;gap:.5rem;')
        a(href=`/sessions/request/${user.id}`)
          button(type='button') Request a Session
        a(href=`/reports/submit/${user.id}`)
          button.btn-outline-red(type='button') Report User

    .info-card
      h3 About
      p= user.bio || 'No bio provided.'
      if user.averageRating && Number(user.averageRating) > 0
        p ★ #{Number(user.averageRating).toFixed(1)} average rating
      if user.email
        p
          strong Email:&nbsp;
          | #{user.email}
      if user.country
        p
          strong Country:&nbsp;
          | #{user.country}
      if user.joinedDate
        p
          strong Joined:&nbsp;
          | #{user.joinedDate}
      if user.lastActive
        p
          strong Last active:&nbsp;
          | #{user.lastActive}

    if user.modules && user.modules.length > 0
      .info-card
        h3 Languages at a Glance
        .lang-pills(style='margin-top:.4rem;')
          each m in user.modules
            span.tag-pill= m

    if languages && languages.length > 0
      .info-card
        h3 Languages
        table.data-table
          thead
            tr
              th Language
              th Type
              th Proficiency
          tbody
            each language in languages
              tr
                td= language.languageName || 'N/A'
                td= language.languageType || 'N/A'
                td= language.proficiencyLevel || 'N/A'

    if availability && availability.length > 0
      .info-card
        h3 Availability
        table.data-table
          thead
            tr
              th Day
              th Start
              th End
              th Time Zone
          tbody
            each slot in availability
              tr
                td= slot.dayOfWeek || 'N/A'
                td= slot.startTime || 'N/A'
                td= slot.endTime || 'N/A'
                td= slot.timeZone || 'N/A'

    if interests && interests.length > 0
      .info-card
        h3 Interests
        ul
          each interest in interests
            li= interest.interestName || 'N/A'

    if preferences
      .info-card
        h3 Preferences
        p
          strong Practice Method:&nbsp;
          | #{preferences.practiceMethod || 'N/A'}
        p
          strong Session Type:&nbsp;
          | #{preferences.preferredSessionType || 'N/A'}
        p
          strong Learning Goal:&nbsp;
          | #{preferences.learningGoal || 'N/A'}

  else
    p No user data found.

