extends layout

block content
  h2 Users

  table(border="1" cellpadding="10" cellspacing="0")
    thead
      tr
        th User ID
        th Full Name
        th Email
        th Role
        th Bio
        th Average Rating
    tbody
      each user in users
        tr
          td= user.UserID
          td= user.Full_Name
          td= user.Email
          td= user.Role
          td= user.Bio
          td= Number(user.Average_Rating).toFixed(2)