extends layout

block content
  h2 Users

  table(border="1" cellpadding="10" cellspacing="0")
    thead
      tr
        th User ID
        th Full Name
        th Email
        th Role
        th Bio
        th Average Rating
    tbody
      each user in users
        tr
          td= user.id
          td: a(href="/users/" + user.id)= user.name
          td= user.email
          td= user.programme
          td= user.bio
          td= Number(user.averageRating).toFixed(2)